
.Home {

    background: url(./Pollution.scaled.jpeg) no-repeat center;
    background-size:cover;
    height: 500px;
    position: relative;
    border-top: 20px solid white;
    }
 a:link{
  color: rgb(8, 5, 5);
 }   
.header{
            
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
    transform: translate(-40%, -40%);        
    color: rgb(123, 110, 74);
    padding: 25px 50px 75px 75px;
            
          }
h2{
  text-align: center;
}

h3 {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
          a:hover{
            color: black;
            font-weight: bold;
            z-index: 10;
            position: relative;
         }
         .a{
           align-items: center;
         }
        
         nav {
            background: rgb(240, 209, 217);
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            padding: 30px 20px;
            border-top: 10px solid white;
            justify-content: space-between;
            box-sizing: border-box;
            align-items: center;
            font-size: 20px;
            
          
         }

         .column {
            float: left;
            width: 45%;
            padding: 15px;
            
          }
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
    
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 250;
    }
    .box {
        background-color: rgb(233, 214, 221);
        height: 60;
        width: 60;
        border: 1px solid rgb(223, 228, 164);
        padding: 25px 50px 25px 50px;
        
      }
      
      .row {
        padding: 25px 10px 25px 80px;
      }

      .mission {
        padding: 25px 50px 25px 50px;
      }
      input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid green;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        }

        .signup {
          display: block;
          text-align: center;
        }
        form{
           width: 320px;
           padding: 10px;
           border: 10px solid green;
           margin-left: 40%;
          margin-right: 40%;
           top:50%;
           left:50%;
           display: inline-block;
        }
    

    footer {
        padding: 40px;
       display: flex;
       justify-content: center;
    } 
                        
